#a{ height: 200px; width: 600px; background-color:pink ; float: left; }
#b{ height: 50px; width: 600px; background-color:rgb(61, 217, 238) ; float: left; }
 #c{ height: 300px; width: 200px; background-color:rgb(201, 201, 7) ; float: left; } 
 #d{ height: 300px; width: 400px; background-color:rgb(5, 65, 114) ; float: left; }
  #e{ height: 150px; width:200px ; background-color:rgb(5, 65, 114) ; float: left; }
   #f{ height:150px ; width:200px; background-color: rgb(69, 136, 190); float:left; }
    #g{ height:150px ; width:200px ; background-color:black ; float: left; }

